package component

templ Table(hdrs []string, rows [][]string) {
	<table class="table-fixed">
		@tableHeader(hdrs)
		<tbody>
			for _, row := range rows {
				@tableRow(row)
			}
		</tbody>
	</table>
}

templ tableHeader(hdrs []string) {
	<thead>
		for _, hdr := range hdrs {
			<tr>
				<p>{ hdr }</p>
			</tr>
		}
	</thead>
}

templ tableRow(row []string) {
	<tr>
		for _, data := range row {
			<td>{ data }</td>
		}
	</tr>
}
